@import '../../scss/import';

.projects {

    margin-bottom: rem(40);

}

input[type=text] {

    border: rem(1) solid $dark-grey;
    margin-bottom: rem(40);
    padding: rem(8 8 8 24);
    width: 100%;

    &:focus {

        background-color: $light-grey;
        border: rem(1) solid $light-grey;
        outline: 0;

    }

}